
  #submit_bundle_install {
	margin-top:15px;
  }
  
  #ctrl_bundles_list ul {
	margin:0;
	padding:0;
  }
  
  #ctrl_bundles_list li {
	padding:8px 0;
	list-style-type:none;
	width:100%;
	overflow:hidden;
  }

  .install_info {
	width:400px;
	float:left;
	line-height:1.6em;
  }

  .install_button {
	width:180px;
	padding:5px 0;
	float:right;
  }
  
  .install_button .tl_submit {
	float:right;
  }
  
  .pagination {
	border-top:1px solid #DDDDDD;
	margin-top:20px;
	padding-top:20px;
  }
  
  .pagination p {
	font-weight:bold;
	display:none;
  }

  .pagination ul {
	overflow:hidden;
	width:auto;	
  }
  
  .pagination li {
	float:left;
	list-style-type:none;
	width:auto !important;
	margin-right:10px;
	background: none repeat scroll 0 0 #808080;
    border: 0 none;
	padding:0 !important;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 1px 3px #BBBBBB;
	text-shadow:1px 1px 0 #666666;
  }
  
  .pagination li a, 
  .pagination li span {
    color:#FFFFFF;
    padding:5px 10px;
	display:block;
  }