
#ctrl_bundles_list
{
width:600px;
}

#ctrl_bundles_list ul{margin:0;padding:0 3px;}
#ctrl_bundles_list li{padding:8px;list-style-type:none;}

.install_info
{
	width:400px;
	float:left;
}

.install_buttons
{
	width:40px;
}

.pagination ul{text-align:left;border-bottom:1px solid #6e6060;height:2.2em;}
.pagination li{float:left;padding-left:8px;list-style-type:none;}